body{
	background-image:url("images.jpg");
	font-family: "Comic Sans MS", cursive, sans-serif;

}

footer{
	text-align: center;
	color: black;
}

h1{
	color: white;
}

.container{
	color: white;
}

.panel-body{
	color: black;
}

